{% extends 'app/base.html' %}
{% block home_active %}active{% endblock %}
{% block user %} {{user.username}} {% endblock %}
{% block user_base %}
    <li class="{% block signup_active %}{% endblock %}">
        <a href="{% url 'app:signup' %}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; welcome {{user.username}}
        </a>
    </li>
    <li class="{% block login_active %}{% endblock %}">
        <a href="{% url 'app:logout_user' %}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
        </a>
    </li>
{% endblock %}

{% block body %}
    {% include 'app/home_template.html' %}
{% endblock %}