<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket {{ticket.id}}</title>
</head>
<body>
<p>
    Dear {{ticket.user.first_name}},
    <br>Your booking <strong>{{ticket}}</strong> has been cancelled.
    <br>We hope to see you soon with us in many other journeys, Thankyou for choosing Akyas Railways
    <br>
    <br>With Regards,
    <br>Akyas Railways team
</p>
</body>

<footer>
    For queries and customer support reach out to us on <a href="mailto:csit6910+support@gmail.com">csit6910+support@gmail.com</a>
</footer>

</html>