<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket {{ticket.ID}} </title>
</head>
<body>
<p>
    Dear {{ticket.user.first_name}},
    <br>Your booking <strong>{{ticket}}</strong> is confirmed.
    <br> Have a safe journey, Thankyou for choosing Akyas Railways
    <br>
    <br>With Regards,
    <br>Akyas Railways team
</p>
</body>
<footer>
    For queries and customer support reach out to us on <a href="mailto:csit6910+support@gmail.com">csit6910+support@gmail.com</a>
</footer>
</html>